html {
    width: 100%;
}
body {
    margin: 0;
    background: #e5e5e5;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    color:#141414;
    overflow-x: hidden;
    width:100%
}
#logo {
    float:left;
}

#logo a img
{
    width: 120px;
    height: 50px;
}

a:visited
{
    text-decoration: none;
    color:#e5e5e5;
}

header {
    position: absolute;
    height: 55px;
    top: 0;
    display: block;
    width: 100%;
}

header nav, footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.8)
}

header nav {
    display: inline-block;
    border-bottom: 2px solid #71b00c;
    position: absolute;
}

#content {
    position:relative;
    top:58px;
    bottom:53px;
}
/* Regole che permettono il corretto posizionamento della mappa */
#map-canvas
{
    position:absolute;
    left:3px;
    top: 2px;
    height: 800px;
    width:100%;
    background: white;
}


header nav div:first-child {
    float: left;
}

footer {
    position: absolute;
    height: 37px;
    display: block;
    width: 100%;
    bottom:0;
    text-align: center;
    border-top: 2px solid #71b00c;
}

footer a
{
    text-decoration: none;
    color: #e5e5e5;
}

#welcomeMessage {
    display: block;
    height: 55px;
}

#welcomeMessage div{
    color: #E5E5E5;
    float:right;
    position:relative;
    top:50%;
    margin-top: -9px;
    margin-right: 60px;
}

footer nav div{
    color: #E5E5E5;
    position:relative;
    top:50%;
    margin-top: 11px;
    margin-right: 60px;
}

#menu {
    float:right;
    clear:right;
}

header nav ul { /* togliere nav*/
    padding: 0;
    margin: 0;
}

header nav ul li { /* togliere nav*/
    position: relative;
    float: left;
    list-style-type: none;
}

header nav li a {
    color: #e5e5e5;
    text-decoration: none;
}
.toggler {
    position: absolute;
}
nav ul form {
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
}

/* Stile dei un generico form */
li div.toggler {
    margin-top: 3px;
}

.ui-widget-content {
    text-align: center;
}

.ui-dialog .ui-dialog-title  {
    width: 100%;
}

form * {
    display:block;
}

div form input, div form select, div form textarea {
    margin: 3px auto;
    min-height: 26px;
}

form button {
    margin: 10px 0;
    display: inline-block;
}

/* Stile dei bottoni */
button span {
    font-size: 13px;
}

.buttonContainer {
    display: inline-table;
}

/*Stile del menu */
header nav div.main_nav_label {
    display: none;
    font-size: 12px;
    line-height: 9px;
    color: #EEE;
    position: absolute;
    bottom: 46px;
    left: 0px;
    text-align: left;
    font-weight: 300;
    background: url("images/tip.png") left bottom no-repeat;
    padding: 5px 5px 9px 5px;
    height: 10px;
}

header nav div.main_nav_label:hover {
    display: block;
}

header nav li a
{
    min-width: 40px;
    height: 40px;
    padding: 5px;
    line-height: 40px;
    font-size: 1.5em;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    color: #FFF;
    position: relative;
    margin: 0 1px;
}

/* Icone e relativi effetti */
/* Login */
a#loginDropdown {
    background:url("images/loginUserWhite.png") center no-repeat black;
}

a#loginDropdown:hover {
    background:url("images/loginUserWhite.png") center no-repeat green;
}

a#loginDropdown:active {
    background: white;
}

/* Nuova Segnalazione */
a#reportShow {
    background:url("images/segnalaWhite.png") center no-repeat black;
}

a#reportShow:hover {
    background:url("images/segnalaWhite.png") center no-repeat green;
}

a#reportShow:active {
    background: white;
}

/* Ricerca */
a#searchShow {
    background:url("images/searchWhite.png") center no-repeat black;
}

a#searchShow:hover {
    background:url("images/searchWhite.png") center no-repeat green;
}

a#searchShow:active {
    background: white;
}

/* Lista */
a#listShow{
    background:url("images/listWhite.png") center no-repeat black;
}

a#listShow:hover {
    background:url("images/listWhite.png") center no-repeat green;
}

a#listShow:active {
    background: white;
}

/* Pagina delle informazioni */
a#infoPageOpener{
    background:url("images/infoButton.png") center no-repeat black;
    background-size: 37px 37px;
}

a#infoPageOpener:hover {
    background:url("images/infoButton.png") center no-repeat green;
    background-size: 37px 37px;
}

a#infoPageOpener:active {
    background: white;
}

/* Centro Notifiche */
a#notificationOpener{
    background:url("images/notificationButton.png") center no-repeat black;
    background-size: 37px 37px;
}

a#notificationOpener:hover {
    background:url("images/notificationButton.png") center no-repeat green;
    background-size: 37px 37px;
}

a#notificationOpener:active {
    background: white;
}

/* Home Button */
a#homeOpener{
    background:url("images/homeButtonWhite.png") center no-repeat black;
    background-size: 37px 37px;
}

a#homeOpener:hover {
    background:url("images/homeButtonWhite.png") center no-repeat green;
    background-size: 37px 37px;
}

a#homeOpener:active {
    background: white;
}

/* Form di Login*/
#login {
    z-index:3;
}
#username,#password {
    padding-left: 32px;
    background:left;
    min-width: 119px;
    font-size: 13px;

}

#username {
    background: url("images/loginUserBlack.png") left  no-repeat transparent;
    background-size: 27px 27px;
}

#password {
    background: url("images/loginPassword.png") left  no-repeat transparent;
    background-size: 27px 27px;
}

/* Form di ricerca */
#datePickForm label, #datePickForm input, #remoteSearchContainer input, #remoteSearchContainer label {
    display:inline;
    text-align: center;
}
#searchType {
    width: 400px;
    margin:0 auto;
}
select {
    width: 150px;
}

input {
    width:150px;
}
