html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background: #e5e5e5;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
    color:#141414;
    overflow-x: hidden;
    width:100%;
    height: 100%;
}
#logo {
    float:left;
}

a:visited
{
    text-decoration: none;
    color:#e5e5e5;
}

header {
    position: absolute;
    height: 55px;
    top: 0;
    display: block;
    width: 100%;
    min-width:750px;
}

header nav, footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.8)
}

header nav {
    display: inline-block;
    border-bottom: 2px solid #71b00c;
    position: absolute;
}

#content {
    position:absolute;
    top:58px;
    bottom:55px;
    width: 100%;
}
/* Regole che permettono il corretto posizionamento della mappa */
#map-canvas
{
    position:absolute;
    left:3px;
    top: 2px;
    width:100%;
    height:100%;
}


header nav div:first-child {
    float: left;
}

footer {
    position: fixed;
    height: 37px;
    display: block;
    width: 100%;
    bottom:0;
    text-align: center;
    border-top: 2px solid #71b00c;
}

footer a
{
    text-decoration: none;
    color: #e5e5e5;
}

#welcomeMessage {
    height: 55px;
}

#welcomeMessage div{
    color: #E5E5E5;
    float:right;
    position:relative;
    top:50%;
    margin-top: -9px;
    margin-right: 60px;
}

#welcomeMessage p{
    display: inline;
}

footer nav div{
    color: #E5E5E5;
    position:relative;
    top:50%;
    margin-top: 11px;
    margin-right: 60px;
}

.toggler {
    position: absolute;
}
nav ul form {
    position: relative;
}

/* Stile dei un generico form */
li div.toggler {
    margin-top: 3px;
}

.ui-widget-content {
    text-align: center;
    margin: 0 auto;
}

.ui-dialog .ui-dialog-title  {
    width: 100%;
}

form * {
    display:block;
}

div form input, div form select, div form textarea {
    margin: 3px auto;
    min-height: 26px;
}

form button {
    margin: 10px 0;
    display: inline-block;
}

/* Stile dei bottoni */
button span {
    font-size: 13px;
}

.buttonContainer {
    display: inline-table;
}

/*
 * Stile del menu
 */
#menu {
    float:right;
    clear:right;
    margin-right: 5px;
}

header ul {
    padding: 0;
    margin: 0;
}

header ul li {
    position: relative;
    float: left;
    list-style-type: none;
}

header nav li a {
    color: #e5e5e5;
    text-decoration: none;
}

header nav div.main_nav_label {
    display: none;
    font-size: 12px;
    line-height: 9px;
    color: #EEE;
    position: absolute;
    bottom: 46px;
    left: 0;
    text-align: left;
    font-weight: 300;
    background: url("images/tip.png") left bottom no-repeat;
    padding: 5px 5px 9px 5px;
    height: 10px;
}

header nav div.main_nav_label:hover {
    display: block;
}

header nav li a
{
    min-width: 40px;
    height: 40px;
    padding: 5px;
    line-height: 40px;
    font-size: 1.5em;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    color: #FFF;
    position: relative;
    margin: 0 1px;
}

/* Menu Buttons */
#menu li a {
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 37px 37px;
}

#menu li a:hover {
    background-color: green;
}

#menu li a:active {
    background-color: white;
}
/* Icone e relativi effetti */
/* Login */
#login a {
    background-image:url("images/loginUserWhite.png");
}

/* Refresh pagina */
#refresh a{
    background-image:url("images/refresh-icon.png");
}

/* Ricerca */
#search a {
    background-image:url("images/searchWhite.png");
}

/* Nuova Segnalazione */
#report a {
    background-image:url("images/segnalaWhite.png");
}

/* Event List */
#eventList a {
    background-image:url("images/listWhite.png");
}

/* Pagina delle informazioni */
#infoPage a {
    background-image:url("images/infoButton.png");

}

/* Centro Notifiche */
#notification a {
    background-image:url("images/notifiche.png");
}

/* Home Button */
#home a{
    background-image:url("images/homeButtonWhite.png");
}
/* End Menu Icons*/

/* Form di Login*/
#login {
    z-index:3;
}
#username,#password {
    padding-left: 32px;
    background:left;
    min-width: 119px;
    font-size: 13px;
}

#username {
    background: url("images/loginUserBlack.png") left  no-repeat transparent;
    background-size: 27px 27px;
}

#password {
    background: url("images/loginPassword.png") left  no-repeat transparent;
    background-size: 27px 27px;
}

/* Form di ricerca */
form#search {
    width: 57%;
    margin: 0 auto;
}
#datePickForm label, #datePickForm input, #remoteSearchContainer input, #remoteSearchContainer label,
#radiusForm div, #radiusForm input {
    display:inline-block;
    text-align: center;
}
#radiusForm input {
    margin-right: 10px;
}
#remoteSearch {
    width: 15px;
}
#searchType {
    width: 400px;
    margin:0 auto;
}
select {
    width: 150px;
}

input {
    width:150px;
}

.infoWindowTitle {
    font-weight: bold;
}
#slider-range-min {
    width: 250px;
}
/* Reports Widget */
div[aria-describedby="effectReports"] {
    min-width: 400px;
    min-height: 300px;
}
#effectReports {
    min-width: 400px;
}
#description {
    width: 300px;
    height: 80px;
    resize: none;
}
#description:focus {
    border-color: #71b00c;
    outline-color:#71b00c;
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(113, 176, 12, 0.60);
    box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(113, 176, 12, 0.60);
}

/* Search Widget */
div[aria-describedby="effectSearch"] {
    min-width: 460px;
    min-height: 500px;
}

#effectSearch {
    min-width: 450px;
}
#SearchSubtypes label {

}

/* loggedUser */
#loggedUser {
    font-weight: bold;
    margin: 5px 5px 5px;
    text-align: left;
    display: block;
}

#effectLogin p {
    margin: 5px 5px 6px;
    display: inline-block;
}

.disabled {
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    -khtml-opacity:.20;
    -ms-filter:"alpha(opacity=20)";
    filter:alpha(opacity=20);
    opacity:.20;
}