body {
    margin: 0;
    background: #e5e5e5;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color:#141414;
    overflow-x: hidden;
}
a:visited
{
    text-decoration: none;
    color:#e5e5e5;
}
header nav, footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.8)
}
header nav {
    display: inline-block;
    border-bottom: 2px solid #71b00c;
}
/* CSS di Prova */
header nav div:first-child {
    float: left;
}

/*header nav div:nth-of-type(2) {
    float:right;
}*/

footer {
    padding: 10px;
    text-align: center;
    border-top: 2px solid #71b00c;
}
footer a
{
    text-decoration: none;
    color: #e5e5e5;
}
#menu {
    float:right;
    min-width:500px;
    /* TODO: Controllare min margin left se restringo la finestra */
}

header nav ul { /* togliere nav*/
    padding: 0;
    margin: 0;
}

header nav ul li { /* togliere nav*/
    position: relative;
    float: left;
    list-style-type: none;
}
/*
header nav ul li:hover {
    border: 1px #e5e5e5 solid;
    border-radius: 8px;
}
*/
header nav li a {
    color: #e5e5e5;
    text-decoration: none;
    font-weight: bold;
}
.toggler {
    position: absolute;
}
nav ul form {
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
}

/* Stile dei un generico form */
li div.toggler {
    margin-top: 3px;
}
.ui-widget-content {
    text-align: center;
}
.ui-dialog .ui-dialog-title  {
    width: 100%;
}
div form {
    padding: 0 17%;
}
form * {
    display:block;
}
div form input, div form select, div form textarea {
    margin: 3px auto;
    min-height: 26px;
}
form button {
    margin: 10px 0;
    display: inline-block;
}
/* Stile dei bottoni */
button span {
    font-size: 13px;
}
.buttonContainer {
    display: inline-table;
}
/*Stile del menu */
header nav div.main_nav_label {
    display: none;
    font-size: 12px;
    line-height: 9px;
    color: #EEE;
    position: absolute;
    bottom: 46px;
    left: 0px;
    text-align: left;
    font-weight: 300;
    background: url("images/tip.png") left bottom no-repeat;
    padding: 5px 5px 9px 5px;
    height: 10px;
}
header nav div.main_nav_label:hover {
    display: block;
}
header nav li a
{
    min-width: 40px;
    height: 40px;
    padding: 5px;
    line-height: 40px;
    font-size: 1.5em;
    display: inline-block;
    outline: 0;
    text-decoration: none;
    color: #FFF;
    position: relative;
    margin: 0 1px;
}
/* Icone e relativi effetti */
/* Login */
a#loginDropdown {
    background:url("images/loginUserWhite.png") center no-repeat black;
}
a#loginDropdown:hover {
    background:url("images/loginUserWhite.png") center no-repeat green;
}
a#loginDropdown:active {
    background: white;
}
/* Nuova Segnalazione */
a#reportShow {
    background:url("images/segnalaWhite.png") center no-repeat black;
}
a#reportShow:hover {
    background:url("images/segnalaWhite.png") center no-repeat green;
}
a#reportShow:active {
    background: white;
}
/* Ricerca */
a#searchShow {
    background:url("images/searchWhite.png") center no-repeat black;
}
a#searchShow:hover {
    background:url("images/searchWhite.png") center no-repeat green;
}
a#searchShow:active {
    background: white;
}
/* Lista */
a#listShow{
    background:url("images/listWhite.png") center no-repeat black;
}
a#listShow:hover {
    background:url("images/listWhite.png") center no-repeat green;
}
a#listShow:active {
    background: white;
}
/* Centro Notifiche */

/* Form di Login*/
#username,#password {
    padding-left: 32px;
    background:left;
    min-width: 119px;
    font-size: 13px;

}
#username {
    background: url("images/loginUserBlack.png") left  no-repeat transparent;
    background-size: 27px 27px;
}
#password {
    background: url("images/loginPassword.png") left  no-repeat transparent;
    background-size: 27px 27px;
}

/* Form di ricerca */
select
{
    width: 150px;
}
input
{
    width:150px;
}
