/*.toggler {
    width: 500px;
    height: 200px;
}*/
#button {
    padding: .5em 1em;
    text-decoration: none;
}
#effectSearch,#effectLogin,#effectReports {
    position: relative;
    width: 240px;
    height: 135px;
    padding: 0.4em;
}
.ui-dialog
{
    min-width: 830px;
    min-height: 320px;
    padding: 0 0;
}
#dialog
{
    min-height: 320px !important;
}