/* Stile delle tabelle */
table
{
    width:95%;
    height:95%;
    text-transform: capitalize;
    box-shadow: 6px 8px 17px #888;
    margin: 10px 10px;
}
th
{
    background: #222;
    color: #e5e5e5;
    height: 30px;
    font-weight: lighter;
    border:#ffffff solid;
    border-width: 0 1px 0 0;
}
tbody td{
    border:#0d6c0c solid;
    border-width: 0 1px 0 0;
}
th:last-child {
    border-width: 0;
}
td:last-child {
    border-width: 0;
}
tr:last-child td:last-child
{
    border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    -webkit-border-bottom-right-radius:0;
}
table tr:first-child td:first-child
{
    border-top-left-radius:0;
    -moz-border-radius-topleft:0;
    -webkit-border-top-left-radius:0;
}
table tr:first-child td:last-child
{
    border-top-right-radius:0;
    -moz-border-radius-topright:0;
    -webkit-border-top-right-radius:0;
}
tr:last-child td:first-child
{
    border-bottom-left-radius:0;
    -moz-border-radius-bottomleft:0;
    -webkit-border-bottom-left-radius:0;
}
tr:nth-child(odd)
{
    background-color:#d4ffaa;
}
tr:nth-child(even)
{
    background-color:#ffffff;
}
td
{
    vertical-align:middle;
    padding:7px;
    font-size:13px;
    font-weight:normal;
    color:#000000;
}
tr:first-child td
{
    background-color: #83b54b;
    text-align:center;
    font-size:14px;;
    color:#ffffff;
}
tr:first-child:hover td
{
    background-color:#5fbf00;
}
td input.button
{
    min-width:80px;
}
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    border-color: #000000;
}
th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bordered tr:hover
{
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.highlight
{
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/* Style for JQuery table */
#effectList div
{
    text-align: center;
}
.dataTables_paginate a
{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-right: 10px;
}
.paginate_disabled_previous
{

}